%h1= t(".title")
= link_to t('chat_rooms.new_chat_room'), new_chat_room_path, class: "btn btn-primary"

%table.table.table-hover
  - @chat_rooms.each do |chat_room|
    %tr
      %td.col-md-1
        %span.glyphicon.glyphicon-envelope{class: @has_ntf[chat_room.id] ? "text-primary" : "" }
      %td.col-md-9
        = chat_room.name
        = chat_room.message_notifications.inspect
      %td.col-md-2
        .btn-group
          = link_to t("show"), chat_room, class: "btn btn-primary"
          %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li= link_to t("edit"), edit_chat_room_path(chat_room)
            %li.divider
            %li= link_to t("destroy"), chat_room, method: :delete, data: { confirm: t("confirm") }
