.panel-group
  .panel.panel-default
    .panel-body
      -if @chat_room.doc_id
        = link_to doc_path(@chat_room.doc_id), title: ('go_to_doc') do
          %span.glyphicon.glyphicon-book
      = @chat_room.name
      = link_to t("edit"), edit_chat_room_path(@chat_room), class: "btn btn-primary"
      = link_to t("back"), chat_rooms_path, class: "btn btn-primary"
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", class: "pull-right", :title => t(".users")}
        %span.glyphicon.glyphicon-chevron-down
    #collapseOne.panel-collapse.collapse{class: "out"}
      .panel-footer
        - @chat_room.members.each do |member|
          %p= member.name


.messages
  - if @chat_room.messages.empty?
    %h4= t('.no_messages')
  - else
    - @chat_room.messages.each do |message|
      -if message.system_message?
        = render partial: "chat_rooms/system_message", locals: {message: message}
      -else
        = render partial: "chat_rooms/message", locals: {message: message}
%hr
= render "message_form"
