= form_for(@doc_type) do |f|
  - @doc_type.errors.messages.delete(:lines)
  - d_l_e_c = @doc_type.lines.map{|dl| dl.errors.count}.sum
  - if @doc_type.errors.any? or d_l_e_c > 0
    #error_explanation
      %h2= t('errors.messages.not_saved', resource: "Тип документа", count: @doc_type.errors.count + d_l_e_c)
      %ul
        - @doc_type.errors.full_messages.each do |msg|
          %li= msg
        - @doc_type.lines.each do |line|
          - line.errors.full_messages.each do |msg|
            %li= msg

  .row
    .form-horizontal
      .form-group
        = f.label :name, nil, class: "col-xs-1 control-label"
        .col-xs-6
          = f.text_field :name, class: "form-control"

  = f.fields_for :lines do |builder|
    = render "line_fields", :f => builder
  %p= link_to_add_fields "Добавить поле", f, :lines

  .actions
    = f.submit t("save"), class: 'btn btn-success'
