= form_for(@doc_type) do |f|
  - if @doc_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@doc_type.errors.count, "error")
        prohibited this doc_type from being saved:
      %ul
        - @doc_type.errors.full_messages.each do |msg|
          %li= msg
  .form-group.col-xs-9
    = f.label :name, nil, class: "col-xs-3 control-label"
    .col-xs-6  
      = f.text_field :name, class: "form-control"
  .clearfix    

  = f.fields_for :lines do |builder|
    = render "line_fields", :f => builder
  %p= link_to_add_fields "Добавить поле", f, :lines

  .actions
    = f.submit t("save"), class: 'btn btn-success'
    = link_to t("back"), doc_types_path, class: "btn btn-primary"
