= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group.col-xs-9
    = f.label t("users.name"), {class: "col-xs-3 control-label"}
    .col-xs-6
      = f.text_field :name, {class: "form-control col-xs-5"}

  .form-group.col-xs-9
    = f.label t("users.email"), {class: "col-xs-3 control-label"}
    .col-xs-6
      = f.email_field :email, {class: "form-control"}

  .form-group.col-xs-9
    = f.label t("users.role"), {class: "col-xs-3 control-label"}
    .col-xs-6
      = f.select :role, options_for_select(User::Defines::ROLES.map{|role, name| [name, role]}, selected: @user.try(:role)), {class: "form-control"}, :'data-width' => '100%'

  .form-group.col-xs-9
    = f.label(:password, {class: "col-xs-3 control-label"})
    .col-xs-6
      = f.password_field(:password, {class: "form-control", autocomplete: 'off'})

  .form-group.col-xs-9
    = f.label(:password_confirmation, {class: "col-xs-3 control-label"})
    .col-xs-6
      = f.password_field(:password_confirmation, {class: "form-control"})

  .clearfix

  .actions
    = f.submit t("save"), class: 'btn btn-success'

