= form_for @doc do |f|
  - if @doc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doc.errors.count, "error")} prohibited this doc from being saved:"
      %ul
        - @doc.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field
    = f.label :in_num
    = f.text_field :in_num, class: "form-control"
  .field
    = f.label :out_num
    = f.text_field :name, class: "form-control"
  .field
    = f.label :department
    = f.text_field :name, class: "form-control"
  .field
    = f.label :doc_type
    = f.select :doc_type, options_for_select(@doctypes.map{|dt| [dt.name, dt.id]}, :selected => @doc.doc_type), class: 'col-lg-6 form-control'
    =# f.select :doc_type, options_from_collection_for_select(@doctypes, :id, :name, selected: @doctypes.last), class: 'col-lg-6 form-control'
  .lines
    - if @doc.doc_type
      %p 
        = @doc.doc_type.name
      %p
        = @doc.doc_type.lines.each do |line|
          = render "docs/line_types/#{line.type}" rescue "NO PARTIAL <br>"
  .actions
    = f.submit t("save"), class: 'btn btn-success'
    = link_to t("back"), doc_types_path, class: "btn btn-primary"
