= form_for @doc, :html => { :multipart => true } do |f|
  - if @doc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doc.errors.count, "error")} prohibited this doc from being saved:"
      %ul
        - @doc.errors.full_messages.each do |msg|
          %li= msg
  .form-group.col-xs-9
    = f.label :name, nil, class: "col-xs-3 control-label"
    .col-xs-6  
      .input-group
        = f.text_field :name, class: "form-control"
        %span.input-group-addon{title: "Имя документа"}
          %span.glyphicon.glyphicon-question-sign
  .form-group.col-xs-9
    = f.label :in_num, nil, class: "col-xs-3 control-label"
    .col-xs-6  
      .input-group
        = f.text_field :in_num, class: "form-control"
        %span.input-group-addon{title: "Номер Входящего документа"}
          %span.glyphicon.glyphicon-question-sign
  .form-group.col-xs-9
    = f.label :out_num, nil, class: "col-xs-3 control-label"
    .col-xs-6  
      .input-group
        = f.text_field :out_num, class: "form-control"
        %span.input-group-addon{title: "Номер исходящего документа"}
          %span.glyphicon.glyphicon-question-sign
  .form-group.col-xs-9
    = f.label :department, nil, class: "col-xs-3 control-label"
    .col-xs-6  
      .input-group
        = f.text_field :department, class: "form-control"
        %span.input-group-addon{title: "Отдел отправитель"}
          %span.glyphicon.glyphicon-question-sign   
  
  -if @doc.new_record?
    .form-group.col-xs-9
      = f.label :doc_type, nil, class: "col-xs-3 control-label"
      .col-xs-6 
        = select_tag "doc[doc_type_id]", options_for_select(@doctypes.map{|dt| [dt.name, dt.id]}, :selected => @doc.doc_type_id), :id => 'doc_type_select_id', :'data-width' => '100%'
    %div{id: "doc_type_lines"}
  -else 
    = render "form_lines", lines: @doc.lines
  = file_field_tag('doc_images_attributes_file', multiple: true, name: "doc[images_attributes][][file]")  
  -@doc.images.each do |image|
    =image_tag image.file.url
  .clearfix  
  .actions
    = f.submit t("save"), class: 'btn btn-success'
    = link_to t("back"), docs_path, class: "btn btn-primary"
