%h2= t(".title")
%hr
-if @mode == "search"
  =render "doc_filter_form"
%ul.nav.nav-tabs
  - ["default", "my_attention", "my_control", "public", "search"].each do |mode|
    %li{:class => ("active" if @mode == mode)}= link_to t(mode, scope: "docs"), docs_path(mode: mode)

  %table.table.table-hover
    %tr
      %th= t("docs.name")
      %th= t("docs.doc_type")
      %th= t("docs.state")
      %th= t("action")
    - @docs.each do |doc|
      %tr
        %td
          = doc.name
        %td
          = doc.doc_type.name
        %td
          = t(doc.state)
        %td.col-md-2
          .btn-group
            = link_to t("show"), doc, class: "btn btn-primary"
            %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to t("edit"), edit_doc_path(doc)
              %li.divider
              %li= link_to t("destroy"), doc, method: :delete, data: { confirm: t("confirm") }
%br
= link_to new_doc_path, class: "btn btn-success" do
  %span.glyphicon.glyphicon-folder-open
  = t("docs.new_doc")
