
.row
  .col-xs-9
    -if @doc.chat_room_id
      = link_to @doc.chat_room, {title: ('go_to_chat')} do
        %span.glyphicon.glyphicon-comment
    -else
      = link_to create_chat_room_doc_path(@doc.id), {title: ('chat_rooms.new_chat_room')} do
        %span.glyphicon.glyphicon-comment
    .pull-right
      = link_to print_doc_path(@doc), {title: t('docs.print'), class: "btn btn-sm btn-success"} do
        %span.glyphicon.glyphicon-print
    %h1= @doc.name
    %h4= t(@doc.state)

    .row.well
      %span.col-xs-12
        %dt.col-xs-3 Отправитель:
        %dd.col-xs-9= @doc.current_sender.try(:name) || '-'
      %span.col-xs-12
        %dt.col-xs-3 Исполнитель:
        %dd.col-xs-9= @doc.current_executor.try(:name) || '-'
      %span.col-xs-12
        %dt.col-xs-3 Входящий номер:
        %dd.col-xs-9= @doc.in_num || '-'
      %span.col-xs-12
        %dt.col-xs-3 Исходящий номер:
        %dd.col-xs-9= @doc.out_num || '-'
      - @doc.doc_lines.each do |doc|
        %span.col-xs-12
          %dt.col-xs-3= doc.name
          %dd.col-xs-9= doc.value || '-'
      -@doc.images.each do |image|
        =link_to image_tag(image.file.url(:thumb)), image.file.url

  .col-xs-3
    -unless @doc.work_logs.empty?
      .work_logs
        -@doc.work_logs.reverse.each do |w_l|
          =render "work_log", work_log: w_l


.btn-group
  -@doc.state_paths.events.each do |event|
    - if @doc.can?(event, current_user)
      = render "/docs/event_partial", event: event
  = link_to t("back"), docs_path, class: "btn btn-primary"
