!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title
      = t('page_title', :scope => @page_scope)
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body.application-layout
    .wrapper
      =render 'layouts/topbar'
      %section.content.container
        = render partial: "layouts/bootstrap_flash", locals: {flash: flash}
        = yield
    = javascript_include_tag "application"

    / # = stylesheet_link_tag "application", "token-input-facebook"
    / = javascript_include_tag :defaults, "jquery.tokeninput"

